@theme {
  --color-player-card-frame: #009dae;
  --color-player-card-background: #71dfe7;
  --color-player-card-values: #c2fff9;
  --color-player-card-rank: #ffe652;
  --color-player-card-ink: #18233e;
  --color-player-card-muted: #384873;
  --color-mapache-vivid-primary-cyan: #008b8b;
  --color-mapache-vivid-primary-raspberry: #9c0052;
  --color-mapache-vivid-primary-blue: #008ec1;
  --color-mapache-vivid-primary-orange: #ff4500;
  --color-mapache-vivid-secondary-purple: #790fc5;
  --color-mapache-vivid-secondary-green: #008f39;
  --color-mapache-vivid-secondary-red: #ff0000;
  --color-mapache-vivid-secondary-gold: #a77e18;
  --color-mapache-vivid-dark: #1e1e1e;
  --color-mapache-vivid-muted: #383838;
  --color-mapache-vivid-light: #d9d9d9;
  --color-mapache-vivid-black: #000000;
  --color-mapache-vivid-white: #ffffff;
  --color-background: var(--color-mapache-vivid-dark);
  --color-foreground: var(--color-mapache-vivid-white);
  --color-card: var(--color-mapache-vivid-white);
  --color-card-foreground: var(--color-mapache-vivid-dark);
  --color-popover: var(--color-mapache-vivid-white);
  --color-popover-foreground: var(--color-mapache-vivid-dark);
  --color-primary: var(--color-mapache-vivid-primary-orange);
  --color-primary-foreground: var(--color-mapache-vivid-black);
  --color-secondary: var(--color-mapache-vivid-primary-cyan);
  --color-secondary-foreground: var(--color-mapache-vivid-black);
  --color-muted: var(--color-mapache-vivid-muted);
  --color-muted-foreground: var(--color-mapache-vivid-light);
  --color-accent: var(--color-mapache-vivid-secondary-purple);
  --color-accent-foreground: var(--color-mapache-vivid-white);
  --color-destructive: var(--color-mapache-vivid-secondary-red);
  --color-destructive-foreground: var(--color-mapache-vivid-black);
  --color-border: var(--color-mapache-vivid-black);
  --color-input: var(--color-mapache-vivid-black);
  --color-ring: var(--color-mapache-vivid-primary-cyan);
}
